{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth.css' %}">


    <title>ТрансПроект</title>
</head>
    

<body>
    {% block mainblock %}
    <div class="authreg-container">
        <div class="authreg-content">
            <div class="welcome">
                Добро пожаловать
            </div>
            <div class="authreg-user-info">
                
                <div class="authreg-form">
                    <form method="post" id="authregForm">
                        {% csrf_token %}
                        <div class="input-container">
                            <div class="authreg-hello">
                                <p>Мы рады видеть вас снова</p>
                            </div>
                            <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
                            <div class="password-container">
                                <div class="password-input">
                                    <input type="password" id="password" name="password" placeholder="Пароль" required>
                                    <img src="{% static 'files/hidden.png' %}" class="toggle-password" onclick="togglePasswordVisibility()" alt="Показать пароль">
                                </div>
                            </div>

                            <script>
                                function togglePasswordVisibility() {
                                  var passwordInput = document.getElementById("password");
                                  var toggleIcon = document.querySelector(".toggle-password");

                                  if (passwordInput.type === "password") {
                                    passwordInput.type = "text";
                                    toggleIcon.src = "{% static 'files/eye.png' %}";
                                    toggleIcon.alt = "Скрыть пароль";
                                  } else {
                                    passwordInput.type = "password";
                                    toggleIcon.src = "{% static 'files/hidden.png' %}";
                                    toggleIcon.alt = "Показать пароль";
                                  }
                                }
                            </script>
                        </div>
                        <button type="submit">Войти</button>
                    </form>
                </div>
                
            </div>
            {% if error_message %}
                <p class="error-message-login">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>