{% extends "base.html" %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>ТрансПроект</title>
</head>

<body>
    {% block mainblock %}
    <div class="title">
        <div class="title-text">ПРИЕМКА ГРУЗА</div>
    </div>
    <div class="main-container"> 

        <form method="post" enctype="multipart/form-data" id="upload-form">
            {% csrf_token %}
            <div class="pre_process-from-container">
                <div class="image-container">
                    <div class="image_wrapper">
                        <img src="data:image/jpeg;base64,{{ photo1 }}" alt="Загруженная накладная">
                    </div>
                    <div class="image_wrapper">
                        <img src="data:image/jpeg;base64,{{ car_number_photo }}" alt="Загруженный номер">
                    </div>
                </div>
            </div>

            
            <div class="btn-container">
                <div class="btn-prev">
                    <button class="process_prev">
                        <a href="/priemka/" class="process_prev_btn">Назад</a>
                    </button>
                    
                </div>
                <div class="btn-next">
                    <button type="submit" class="btn-load">Далее</button>
                </div>
            </div>
        </form>
    </div>
    
    {% endblock %}
</body>
</html>