.main-body-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Inter';
    height: 87vh;
    width: 101%;
}

.background-overlay-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('{% static 'files/back.jpg' %}'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1; /* Ставим фон за контент */
}

.main-body-login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Чёрный цвет с 50% непрозрачностью */
    z-index: 1; /* Расположим перед содержимым */
}



.authreg-content {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 10;
}

.auth-photo img{
    width: 490px;
    height: 460px;
}

.auth-photo {
    padding: 5px;
}


.authreg-hello {
    position: relative;
    font-size: 28px;
    color: #1C425F;
    font-weight: 700;
    margin-bottom: 100px;
}


.input-container {
    margin-bottom: 100px;
}

.authreg-user-info {
    margin-top: 50px;
}

.authreg-form {
    position: relative;
    text-align: center; 
    width: 300px;
}

.authreg-form input {
    width: 80%; /* Ширина поля для ввода будет на 30px меньше ширины родительского контейнера */
    max-width: 900px; /* Максимальная ширина поля для ввода */
    height: 40px;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 10px; /* Отступ между полями для ввода */
    border: 2px solid #1C425F;
    border-radius: 12px;
}

.authreg-form input::placeholder {
    color: #aaa;
}

.password-container {
    position: relative;
}


.password-input input {
    width: 80%;
}

.toggle-profile,
.toggle-password {
    position: absolute;
    right: 80px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-profile img,
.password-input img {
    width: 20px;
    height: 20px;
}


.btn-login {
    width: 80%;
    margin: 0 auto; /* Для выравнивания кнопки по центру */
    background-color: #1C425F;
    color: #fff;
    text-decoration: none;
    padding: 8px 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    border: 2px solid transparent;
}

.btn-login:hover {
    background-color: #fff;
    color: #1C425F;
    border-color: #1C425F;
}

/* .authreg-redirect {
    font-size: 16px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


.authreg-redirect a{
    text-decoration: none; 
    color: black; 
    font-weight: bold;
}

.authreg-redirect:hover a{
    color:#aaa; 
} */



.error-message-login {
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px; 
}


@media screen and (max-width: 1400px) and (max-height: 800px) {
    
}